#selectedModels{
  margin-left:auto;
  margin-right:auto;
  padding-left:150px;
  padding-top:25px;
}
#resultModel{
  margin-left:auto;
  margin-right:auto;
  padding-left:150px;
  padding-top:25px;
}
#btn_merge{
  width: 905px;
}
.selectedModelContainer{
  display: inline-block;
  float: left;
  min-width: 450px;
  min-height: 300px;
  margin: 5px;
  background-color: grey;
}
.col-centered{
  float: none;
  margin: 0 auto;
}
.centre{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.selectedModels{
  float: none;
  margin: 0 auto;
}
.containerCarousel{
  size: 100%;
}

.item {
  z-index: 100;
}

#owl-demo .item{
  display: block;
  padding: 30px 0px;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.owl-theme .owl-controls .owl-buttons div {
    padding: 5px 9px;
}

.owl-theme .owl-buttons i{
  margin-top: 2px;
}

.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev{
  background-color: rgba(255, 255, 255, 1) !important;
  color: grey;
  left: -60px;
  top: 55px;
}

.owl-theme .owl-controls .owl-buttons .owl-next{
  background-color: rgba(255, 255, 255, 1) !important;
  color: grey;
  right: -60px;
  top: 55px;
}
