body {
  margin: 0;
  padding: 0;
}

/*****************Top Models*****************/
#selectedModels{
  margin-left:auto;
  margin-right:auto;
  padding-left:140px;
  padding-top:25px;
}
.selectedModelContainer{
  display: inline-block;
  float: left;
  min-width: 450px;
  min-height: 300px;
  margin: 5px;
  background-color: grey;
}
#resultModel{
  margin-left:auto;
  margin-right:auto;
  padding-left:150px;
  padding-top:25px;
}
#btn_merge{
  width: 905px;
}
.selectedModels{
  float: none;
  margin: 0 auto;
}

/*****************Input Search*****************/
.txt_search{
  width: 300px;
}
.lbl_search{
  margin-top: 5px;
  text-align:right;
}

/*****************Helper Start*****************/
#helper-start{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 910px;
  height: 610px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top:30px;
  text-align: center;
}
#helper-start .row{
  width: 700px;
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  margin-left: auto;
  margin-right: auto;

}

/*****************Carousel*****************/
.containerCarousel{
  size: 100%;
}
.item {
  z-index: 100;
}
#owl-demo .item{
  display: block;
  padding: 30px 0px;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.owl-theme .owl-controls .owl-buttons div {
    padding: 5px 9px;
}

.owl-theme .owl-buttons i{
  margin-top: 2px;
}

.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev{
  background-color: rgba(255, 255, 255, 1) !important;
  color: grey;
  left: -60px;
  top: 55px;
}

.owl-theme .owl-controls .owl-buttons .owl-next{
  background-color: rgba(255, 255, 255, 1) !important;
  color: grey;
  right: -60px;
  top: 55px;
}

.btn-add {
  margin-top: 10px;
  width: 70%;
}
